body{
    background-color: rgb(24, 24, 24);
}

h1, h2, p{
    color: white;
}
#tituloprincipal{
    padding-top: 7rem;
}
article{
    display: block;
    margin: 0 auto;
    width: 40%;
    text-align: center;
}
nav {
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
    padding: 1rem 0;
    width: 100%;
    height: 3.5rem;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 174, 255);
    text-align: center;
}

.hovermais:hover {
    background-color: rgba(255, 255, 255, 0.596);
    text-decoration: none;
}

a {
    color: rgb(0, 0, 0);
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

#titulo h1{
    color: black;
}

nav ul li {
    list-style-type: none;
    margin: 0 1rem;
}

#homeimg{
    width: 3rem;
}
#homeimg:hover{
    width: 3.5rem;
}

#imgcentriolos{
    width: 75%;
}
/*Responsividade*/

@media (max-width: 1280px) {
    #tituloprincipal{
        padding-top: 6rem;
    }
    article{
        width: 75%;
    }

    nav ul {
        width: 45%;
    } 
    #homeimg{
        width: 3rem;
    }
    #imgconteudo{
        width: 75%;
    }
}

@media (max-width: 760px) {
    #tituloprincipal{
        padding-top: 6rem;
    }
    article{
        width: 90%;
    }

    nav ul {
        width: 45%;
    }
    
    #titulo h1{
        font-size: 1.3rem;
    }
    
    #homeimg{
        width: 3rem;
    }
    #imgconteudo{
        width: 100%;
    }
    #imgcentriolos{
        width: 100%;
    }
}

#button{
    width: 10%;
    margin-top: 50rem;
    display: block;
    margin: 0 auto;
    
    text-align: center;
}
#button:hover{
    width: 11%;
}